.fourthSec {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #fcfcfc;
    padding: 35px 0;
}
.fourthSec header {
    grid-column: 1/-1;
    justify-self: center;
}
.fourthSec header h1 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.fourthSec header p {
    margin-top: 15px;
    text-align: center;
    color: #757575;
    font-weight: 600;
}
.fourthSec .fourthContent {
    overflow-x: scroll;
    grid-column: 2/-1;
    display: flex;
    margin-top: 25px;
    gap: 25px;
    
    flex-direction: row;
}

.bundlesCard {
    border: 5px solid #0f2733;
    min-width: 320px;
    max-width: 320px;
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.bundlesCard .cardHeader h5 {
    font-size: 16px;
    align-self: center;
    margin-bottom: 0;
    margin-left: 25px;
    font-weight: 600;
}
.bundlesCard .cardHeader {
    justify-self: left;
    height: 10%;
    display: grid;
    width: 100%;
    align-self: center;
    border-bottom: 2px solid #0f2733 ;
}
.bundlesCard .cardContent {
    height: 80%;
}
.bundlesCard .cardButton {
    justify-self: left;
    height: 10%;
    display: grid;
    background-color: #0f2733;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #fcfcfc;
    align-self: center;
    border-top: 2px solid #0f2733;
    
}
.bundlesCard .cardButton a {
    letter-spacing: 3px;
    align-self: center;
    justify-self: center;
}
.bundlesCard .cardContent {
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.bundlesCard .cardContent .cardDesc {
    justify-self: center;
    align-self: center;
    max-width: 90%;
}