

.topbar {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    margin: 15px 0 25px 0;
    height: 10vh;
    box-sizing: border-box;
}
.toplogo img {
    vertical-align: middle;
    height: 50px;
    width: 100%;
    margin-top: 4px;
}
.toplogo {
    display: grid;
    height: 10vh;
    justify-self: center;
    align-self: center;
}
.barsolid {
    grid-column: 3/-1;
    align-self: center;
    height: 75%;
    justify-self: center;
}
.topbar ul li {
    list-style: none;
    text-decoration: none;
}

.topbar ul {
    list-style: none;
}

@media only screen and (min-width : 768px) {
    /* Styles here  for tablet*/
}


@media only screen and (min-width : 1200px) {
    /* Styles here for laptop */
}


@media only screen and (min-width : 1600px) {
    /* Styles here  for desktop*/
}